vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Nov 2010 19:38:13 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|12 Nov 2010 19:38:13 -0000
vti_filesize:IR|437
vti_lineageid:SR|{472407A7-3D3A-48DA-A7F3-0A9CE1E85EC0}
vti_backlinkinfo:VX|YUI_UnitTest/bak_Nov23/index.htm YUI_UnitTest/bak_Nov23/manual.html
