/* Overrides to make the docs match RIM's docs */

/* Page properties - general */
body  {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
	right: 22px;
	padding-right: 0px;
	padding-left: 0px;
}

/* code and pre */
code {
	font-family: "Lucida Console", "Courier New", Courier, monospace; 
	font-size: 12px;
}
pre {
	font-family: "Lucida Console", "Courier New", Courier, monospace; 
	font-size: 12px;
}



/* @@@ This sets the colour of all unvisited links to white.
   We need a way to set it only in the bar at the top of the page.

a {
	color: #165788;
}

a:visited {
	color: #8eacba;
}
a:hover{
	color: #8aa530;
}





/* Remove the background image */
.titleTable {
	width: 100%;
	background-image: none;
	background-repeat: none;
	
}

/* Same as NavBarCell1Rev, but removing the background image */
.titleTableTitle	{ 
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000;
	color: #fff;
	background-image: none;
	background-repeat: none;
}

/* Same as NavBarCell1Rev, but removing the background image */
.titleTableSearch	{ 
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000;
	color: #fff;
	background-image: none;
	background-repeat: none;
}


/* Same as NavBarCell1Rev, but removing the background image */
.titleTableTopNav	{ 
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000;
	color: #fff;
	background-image: none;
	background-repeat: none;
	padding-right: 12px;
}

/* Same as NavBarCell2, but removing the background image */
.titleTableSubTitle	{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: #C0C4C8;
	border-width: 1px;
	font-weight: lighter;
	background-image: none;
}


.titleTableSubNav {
	//white-space: nowrap;
	font-size: 12px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	color: #fff;
	border-color: #C0C4C8;
	border-width: 1px;
	background-image: none;
	background-repeat: none;
	padding-right: 12px;
}

/* Same as NavBarCell2, but removing the background image */
.titleTableRow2	{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: #C0C4C8;
	border-width: 1px;
	font-weight: lighter;
	background-image: none;
}

/* Same as SummaryTable, but setting the background colour to white, the foreground colour to black,
   and the font weight to normal */
	table.summaryTable  th {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-width: 1px;
	border-color: #C0C4C8;
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 1.2em;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;

}

/* Added padding to bottom and top */

.summaryTable th {
	color: #FFFFFF;
	padding-bottom: 8px;
	padding-top: 8px;
	background-color: #627C9D;
	white-space: nowrap;
	font-size: 1.2em;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;

}


/* Remove the background image and set the background colour to grey */
.detailSectionHeader {
	background-color: #DCDCDC;
	background-image: none;

/* Details table - added padding top */

}

.detailHeaderName {
	font-weight: bold;
	font-size: 16px;
	vertical-align: baseline;
	white-space: nowrap;
	padding-top: 16px;
}

.detailHeaderParens {
	font-size: 14px;
	font-weight: bold;
	padding-left: 1px;
	padding-bottom: 2px;
	padding-top: 16px;
}


/* lower font size to body*/
.label {                
	color: #444444;
        font-weight: bold;
        font-size: 13px; 
}

/* change font size for all p */

p {

    font-size: 13px;

}




/* Headings */
h1 {
	font-size: 21px;
}
h2 {
	font-size: 130%;
	padding-top: 20px;
}
h3 {
	font-size: 110%;
	padding-top: 16px;
}
h4 {
	font-size: 100%;
	padding-top: 7px;
}